<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- ask Play services to fetch the segmentation model at install time,
         so "remove background" works the first time it's tapped -->
    <meta-data
      android:name="com.google.mlkit.vision.DEPENDENCIES"
      android:value="subject_segment" />
  </application>
</manifest>
