<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- fires in the freshly installed version right after an update replaced the app -->
    <receiver
      android:name="expo.modules.car360updater.AppReplacedReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
