<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- the white car silhouette and the brand red, for local notifications
         (expo-notifications) and for pushes the system shows itself (FCM) -->
    <meta-data
      android:name="expo.modules.notifications.default_notification_icon"
      android:resource="@drawable/car360_notification" />
    <meta-data
      android:name="expo.modules.notifications.default_notification_color"
      android:resource="@color/car360_notification_color" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/car360_notification" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/car360_notification_color" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_channel_id"
      android:value="reminders" />
  </application>
</manifest>
